<div class="form-container">
  <div class="form-box">
    <h2 class="form-title">Devenir Citoyen</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex-column">
        <%= f.label :nom, "Nom" %>
      </div>
      <div class="inputForm">
        <%= f.text_field :nom, autofocus: true, placeholder: "Saisissez votre nom", class: "input" %>
      </div>

        <div class="flex-column">
          <%= f.label :prenom, "Prénom" %>
        </div>
        <div class="inputForm">
          <%= f.text_field :prenom, placeholder: "Saisissez votre prénom", class: "input" %>
        </div>


      <div class="flex-column">
        <%= f.label :email, "Email" %>
      </div>
      <div class="inputForm">
        <%= f.email_field :email, placeholder: "Saisissez votre email", class: "input" %>
      </div>

      <div class="flex-column">
        <%= f.label :"Votre Mot de Passe" %>
      </div>
      <div class="inputForm">
        <%= f.password_field :password, placeholder: "Saisissez votre mot de passe", class: "input" %>
      </div>

      <div class="flex-column">
        <%= f.label :"La confirmationde votre Mot de Passe", "Confirmation du mot de passe" %>
      </div>
      <div class="inputForm">
        <%= f.password_field :password_confirmation, placeholder: "Confirmez votre mot de passe", class: "input" %>
      </div>

      <div class="actions">
        <%= f.submit "Je deviens un citoyen d'E-City", class: "button-submit" %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
