<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Plateforme connectée E-City">

    <%= yield :head %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">

    <link rel="stylesheet" href="./css/theme-principale.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "actualites", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script src="https://kit.fontawesome.com/2454e153f7.js" crossorigin="anonymous"></script>

    <title><%= content_for(:title) || "E-City | Objets" %></title>
</head>
<body itemscope itemtype="https://schema.org/website">
<header>
        <nav class="navbar">
          <h2 class="nav-title">E-city</h2>
          <h4><%= link_to 'Toutes les Actualités', actualites_path, class: 'link-menu-nav active' %></h4>
          <h4><%= link_to 'Accueil', '/', class: 'link-menu-nav' %></h4>
          <h4><%= link_to "Lire l'Histoire complète →", notre_histoire_path, class: 'link-menu-nav' %></h4>
          <h4><%= link_to 'Les Transports', transports_path, class: 'link-menu-nav' %></h4>
      
          <% if user_signed_in? %>
            <%= form_for :destroy_user_session, url: destroy_user_session_path, method: :delete, html: { data: { confirm: "Tu es sûr de vouloir te déconnecter ?" } } do |f| %>
            <%= f.submit "Se déconnecter", class: "btn btn-warning" %>
          <% end %>
          <% else %>
            <ul itemprop="genre" class="menu-navbar">
              <li class="list-menu-nav"><%= link_to 'Devenir Citoyen', new_user_registration_path, class: 'link-menu-nav' %></li>
              <li class="list-menu-nav"><%= link_to "Connexion à l'espace membre", new_user_session_path, class: 'link-menu-nav' %></li>
            </ul>
          <% end %>
        </nav>
    </header>

    <main class="actualite-show-container">

    <article class="actualite-detail">
        <% if @objet_connecte.image.attached? %>
        <%= image_tag @objet_connecte.image, class: "actualite-detail-image", alt: @objet_connecte.titre %>
        <% else %>
        <div class="actualite-image-placeholder">
            <span>Image non disponible</span>
        </div>
        <% end %>

        <div class="actualite-detail-content">
        <h1 class="actualite-detail-title"><%= @objet_connecte.titre %></h1>
        
        <div class="actualite-meta">
            <% if @objet_connecte.user %>
            <span class="actualite-author">
                <i class="fas fa-user"></i> <%= @objet_connecte.user.prenom %>
            </span>
            <% end %>
        </div>

        <div class="actualite-detail-text">
            <%= simple_format(@objet_connecte.description) %>
        </div>
        </div>
    </article>

    <div class="actualite-actions">
        <% if user_signed_in? && current_user.admin? %>
        <%= button_to @objet_connecte,
            method: :delete,
            class: "button btn-danger",
            form: { data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet objet ?" } } do %>
            <i class="fas fa-trash-alt"></i> Supprimer
        <% end %>
        <% end %>

        <%= link_to objet_connectes_path, class: "button default-round-button" do %>
        <i class="fas fa-arrow-left"></i> Retour à la liste
        <% end %>
    </div>
    </main>

    <footer class="actualites-footer">
    <p>© <%= Time.current.year %> E-City - Tous droits réservés</p>
    </footer>

</body>
