<div id="<%= dom_id actualite %>">
  <p>
    <strong>Titre:</strong>
    <%= actualite.titre %>
  </p>

  <p>
    <strong>Contenu:</strong>
    <%= actualite.contenu %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= actualite.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= actualite.user_id %>
  </p>

</div>
