<p style="color: green"><%= notice %></p>

<%= render @actualite %>

<div>
  <%= link_to "Edit this actualite", edit_actualite_path(@actualite) %> |
  <%= link_to "Back to actualites", actualites_path %>

  <%= button_to "Destroy this actualite", @actualite, method: :delete %>
</div>
